.matrix {
  margin-top: 26px;
}

.matrix-row {
  display: flex;
  margin-bottom: 10px;
}

.matrix-row__select {
  width: 145px;
  & > * {
    width: 100%;
  }
}

.matrix-row__cells {
  margin-left: 2px;
  margin-right: 5px;
}
