.cmp-clock__controls span {
    background-color: #fff;
    display: inline-block;
    height: 27px;
    border: solid #000;
    border-width: 1px 0;
    vertical-align: top;
    padding: 0 12px;
    line-height: 27px;
}