.cmp-grid {
    margin: 0;
    position: relative;
    z-index: 1;
}

.cmp-grid .index {
    position: absolute;
    left: -35px;
    /* border-radius: 50%;
    border: 1px solid #333; */
    line-height: 21px;
    font-weight: 700;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.cmp-grid__controls {
    text-align: right;
    margin-bottom: 20px;
}

.cmp-grid__controls button {
    margin-right: 10px;
}

.cmp-grid__controls button:last-of-type {
    margin-right: 0;
}

.cmp-grid__cell {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    outline: 1px solid #333;
    position: relative;
    width: 30px;
    height: 30px;
}

.cmp-grid__cell.active:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background: #333;
}

.cmp-grid__cell--remove {
    vertical-align: top;
    height: 30px;
    margin: 0 0 0 20px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 28px;
}

.cmp-matrix {
    position: relative;
    margin-left: 35px;
}
.cmp-matrix__cursor {
    position: absolute;
    background-color: #333;
    top: -4px;
    left: 0;
    width: 30px;
    height: calc(100% + 5px);
    z-index: 0;
}
