* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  font-size: 12px;
}

button {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: transparent;
  box-shadow: none;
  padding: 5px 12px;
  font-weight: bold;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.cmp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.cmp-block {
  border: 1px solid #333;
  box-shadow: 5px 5px 0 0 #333;
  margin-bottom: 20px;
  padding: 20px;
}

.cmp-block h6 {
  margin-top: 0;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

.columns.four {
  flex-basis: calc(33.3333% - 13.33333px);
}
.columns.four + .four {
  margin-left: 20px;
}

.columns.six {
  flex-basis: calc(50% - 10px);
}
.columns.six:nth-of-type(2n + 1) {
  margin-left: 20px;
}

.columns.twelve {
  flex-basis: 100%;
}
